.ui.middle.aligned.masthead.ui.container
  %h1.ui.center.aligned.header PocketBox
  %h4.ui.center.aligned.header <i>Formerly Roomr</i>
  = form_for :room, url: search_path, method: :post, html: { class: 'ui form' } do |f|
    .field
      = f.text_field :code, placeholder: 'Room Number'
    = f.submit 'Go to Existing Room', class: 'ui center aligned inverted blue button'
  .ui.horizontal.divider Or
  = form_for @room, html: {class: 'ui form'} do |f|
    .field
      = f.text_field :name, placeholder: 'Room Name'
    = f.submit 'Make a New Room', class: 'ui center aligned inverted blue button'
  .ui.inverted.divider
  %h5.ui.center.aligned.header PocketBox has been updated. Read about it #{link_to "here.", info_path}
