!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    %title PocketBox - Easy File Sharing
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'rooms', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'rooms', 'data-turbolinks-track' => true
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"}
    = csrf_meta_tags
  %body
    .ui.secondary.menu
      .ui.container
        = link_to url_for(root_path), class: 'item' do
          %h1.ui.header PocketBox
        .right.menu
          = link_to url_for(root_path), class: 'item' do
            %h3.ui.header Create a Room
          = link_to url_for(root_path), class: 'item' do
            %h3.ui.header Go to a Room
    .wrapper
      = yield
